body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-decoration: none;
}

.active-filter {
  background-color: #0636d1!important; 
  border-color: #2352ee!important; 
}

.card-navbar {
  display: flex;
}

.filter-btn Button {
  margin: 2% 0.4%!important;
}

.todo-tasks {
  margin-top: 2%;
  display: flex;
  align-items: center;
}

.card-form {
  margin-top: 5%;
  text-align: center;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 100px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
.center-text {
  justify-content: center !important;
  text-align: center !important;
}